<!DOCTYPE html>
<html lang="ru">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>Веб-приложение</title>
    </head>
    <body>
        <h1>Веб-приложение</h1>
        <h2>Вариант&nbsp;№&nbsp;13</h2>
        <p class="task">Веб-приложение должно разбить изображение на четыре части по вертикали и
            горизонтали и создать четыре отдельных изображения, для каждого нового и исходного изображения нарисовать
            графики распределения цветов.</p>
        <div class="center">
            <a href="/run">Запустить</a>
        </div>
    </body>
</html>
